body{
    background-image: url("coverbill.png");
    background-repeat: repeat;
    background-size: cover;
    color:blue;
    border: 7px;
    
}

.P{
    color:green;
    
}

.t{
    background-color: rgba(246, 252, 252, 0);
    width: 800px;
    border: 0px solid black;
    padding: 10px;
    margin: 17px;
  }

 
  