body{
  background-image: url("https://i.pinimg.com/originals/18/f4/76/18f476df231b70903a5fe8c1d2f5eef5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color:wheat;
  padding-left: 450px;
  border: 50px;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-left: 70px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: 50px;
  cursor: pointer;
  width: 200%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  border: 50px;
  padding: 10px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

.container {
  padding: 17px;
}
.k{
  border: 30px;
  padding-right: 20px;
}
.a{
  background-color: rgba(0,5,5 ,.55);
  width: 280px;
  border: 0px solid black;
  padding: 5px;
  margin: 17px;
}

