body{
    background-image: url("talk.png");
    background-repeat: repeat;
    background-size:contain;
    color:black;
    border: 7px;
    
}

.P{
    color:black;
    
}

.t{
    background-color: rgba(246, 252, 252, 0);
    width: 800px;
    border: 0px solid black;
    padding: 10px;
    margin: 17px;
  }

 
  textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }